<!-- views/profile.ejs -->
<!doctype html>
<html ng-app="weather" ng-controller="profileCtrl">
<head>
  <meta name="viewport" content="width=device-width" />
  <link href='//fonts.googleapis.com/css?family=Codystar|Pompiere|Wire+One|Gruppo|Raleway+Dots|Kranky' rel='stylesheet' type='text/css'>
  <title>Node Authentication</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">%>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/scotchPanels.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="/bower_components/angular-ui-router/angular-ui-router.js"></script>
  <script src="/bower_components/angular-materialize/src/angular-materialize.js"></script>
  <script src="/javascripts/index.js"></script>
  <script src="/javascripts/controllers/profileCtrl.js"></script>
</head>
<body>
  <div class="container">
    <div id="panel" class="center">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="col m4">
        <h5>Enter city and state</h5>
        <input type="text" name="name" id="newLocation" placeholder="ex: Cupertino, CA">
      </div>
      <div class="col m4" id="now">
        <h4>Today's Conditions</h4>
        <h5 class="center">({{conditions.observation_time}})</h5>
        <pre>Feels like:</pre><p class="today">{{conditions.temperature_string}}</p>
        <p class="today">{{conditions.weather}}</p>
      </div>
    </div>
  </div>


  <div id="currentState">
    <h6 id="emails"><span class="fa fa-anchor"></span> {{email}}</h6>
    <a href="/logout" id="logout" class="btn btn-default btn-sm">Logout</a>
  </div>
  <div class="container">
    <h5 id="cityState" >{{city}}, {{state}}</h5>
  </div>

  <div class="row">
    <span class="col l1 hide-on-small-only">
      {{address}}
    </span>
  </div>
<div class="row">
  <header class="col s1 m12 l12">
    <h1 class="center">Your Forecast For the Week <div id="hint" class="toggle-panel">
      view details/change your location
    </div></h1>

  </header>
  <div class="divider">
  </div>
</div>

  <div class="container">

    <div class="row">
      <div class="col s12 m6 l6" ng-repeat="day in forecast">
        <div class="card blue-grey darken-1 z-depth-3" style="height: 195px">
          <div class="card-content white-text" style="height: 170px">
            <span class="card-title" ng-click="getDayDetails(day.title)">{{day.title}}</span>
            <div><img ng-src="{{day.icon_url}}" style="height: 50px" alt="" /></div>
            <p class="" >
                {{day.fcttext}}
            </p>
          </div>
          <%# <div class="card-action valign-wrapper center" style="height: 63px">
            <a  class="valign tooltipped" data-delay="50" data-position="top" data-tooltip="Click the top left for current conditions">Learn More</a>
          </div>%>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
